body {
    font-family: 'Roboto Slab', serif;
}

.btn {
    background: #5222D0;
    border-radius: 100px;
}

.reality_title {
    margin-top: 15%;
    margin-left: 5%;
}

.reality_txt {
    margin-top: 5%;
    margin-left: 5%;
}

.reality_btn {
    margin-top: 15%;
    margin-left: 5%;
}

.reality_nav {
    margin-top: 16%;

    margin-left: 5%;
}

.user_img {
    max-width: 100%;
}